@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/Montserrat-Regular.ttf'); /* IE9 Compat Modes */
    src: local('Montserrat'), url('../../fonts/Montserrat-Regular.ttf') format('truetype');
}

* {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

h2 {
    margin-left: 16px;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
}

.btn_wrap {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

button {
    background: #FF766B;
    font-size: 20px;
    font-weight: 600;
    padding: 15px 30px;
    color: #ffffff;
    border: 0;
    box-shadow: 0 5px 7px #a4a4a4;
}
