.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin: 16px;
}

.title {
    width: 80px;
    font-size: 20px;
    line-height: 29px;
    color: #000000;
}

.pagetitle {
    text-align: right;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;

    color: #FF766B;
}
